@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=TASA+Explorer:wght@400..800&display=swap');



/* *{
  padding: 0;
  margin: 0;
box-sizing: border-box;
font-weight:Outfit;
}

body{
  min-height: 100vh;
  background-color: #fcfcfc;

}
a{
  text-decoration: none;
  color: inherit;
}

hr{
  border: none;
  background-color: #a9a9a9;
}
.app-components{
  display: flex;
}



.main-content {
    margin-left: 18%;
    padding-top: 70px;
} */




















* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit, sans-serif;
}

body {
  min-height: 100vh;
  background-color: #fcfcfc;
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  border: none;
  height: 1px;
  background-color: #a9a9a9;
}

.app-components {
  display: flex;
}

/* Main content shifts because sidebar is fixed */
.main-content {
  margin-left: 18%;
  padding-top: 70px; /* navbar height */
}
